# Ignore node_modules and previous builds
node_modules/
dist/
.env

# Avoid copying local development info
.git/
.gitignore
.dockerignore
Dockerfile
nginx.conf

# Exclude documentation and other metadata
README.md
LICENSE
package-lock.json
# bun.lock*
